@use 'src/styles/colors.scss' as colors;
@use 'src/styles/component-mixins.scss' as component-mixins;

:host {
    @include component-mixins.card-component();
}

.header {
    display: flex;
    gap: 15px;
    align-items: center;
}

.header,
.camera-video {
    margin-bottom: 15px;
}

.fields {
    .data-field {
        display: flex;

        .data {
            flex-grow: 1;
        }

        .copy-btn {
            margin-left: 5px;
        }
    }
}

.camera-video {
    display: flex;
    background: black;
    position: relative;

    video {
        object-fit: cover;
    }
}

@media only screen and (min-width: 375px) {
    $height: 240px;

    .camera-video {
        width: 320px;
        height: $height;
    }

    @keyframes scanning {
        100% {
            transform: translateY($height);
        }
    }
}

@media only screen and (min-width: 540px) {
    $height: 360px;

    .camera-video {
        width: 480px;
        height: $height;
    }

    @keyframes scanning {
        100% {
            transform: translateY($height);
        }
    }
}

@media only screen and (min-width: 768px) {
    $height: 480px;

    .camera-video {
        width: 640px;
        height: $height;
    }

    @keyframes scanning {
        100% {
            transform: translateY($height);
        }
    }
}

.camera-video.scanning::after {
    content: '';
    position: absolute;
    top: 0;
    width: inherit;
    height: 2px;
    background: linear-gradient(to bottom, colors.$scan-line-background, transparent);
    animation: scanning 2s linear infinite alternate;
}
