:host {
    align-self: center;
}

.header {
    display: flex;
    gap: 15px;
    align-items: center;
}

.header, .camera-video {
    margin-bottom: 15px;
}

.camera-video {
    display: flex;
    background: black;    
    min-width: 336px;
    min-height: 252px;
}

.fields .data {
    width: 100%;
}
