<section class="header">
    <mat-slide-toggle color="accent" [(ngModel)]="frontCamera">Фронтальная</mat-slide-toggle>
    <button mat-raised-button color="accent" class="align-center" (click)="onRefresh()">
        <mat-icon>refresh</mat-icon>
        Обновить
    </button>
    
    <button mat-icon-button
            matTooltip="Выбрать изображение для сканирования"
            (click)="fileInput.click()">
        <mat-icon> attach_file</mat-icon>
    </button>
    <input hidden #fileInput
        type="file"
        accept="image/png, image/gif, image/jpeg"
        (change)="onImgSelect($event)">
</section>

<section [ngStyle]="isImgSelected && { display: 'none' }"
        class="camera-video" [class.scanning]="scanning" appearance="outline">
    <video #cameraVideo
        autoplay
        playsinline
        width="100%"
        height="100%">
    </video>
    <canvas #cameraCanvas style="display: none"></canvas>
</section>

<canvas [ngStyle]="!isImgSelected && { display: 'none' }" class="img" #imgCanvas></canvas>

<section class="fields">
    <div class="field-container">
        <mat-form-field appearance="outline" class="field">
            <mat-label>Данные</mat-label>
            <textarea matInput rows="3" 
                [(ngModel)]="data"
                maxlength="500"
                disabled>
            </textarea>
            <mat-icon matSuffix *ngIf="!decryptionEnabled">qr_code</mat-icon>
            <mat-hint align="end">{{data.length}}/{{dataMaxLength}}</mat-hint>
        </mat-form-field>
        <button mat-icon-button matTooltip="Скопировать в буфер обмена" class="copy-btn"
                [cdkCopyToClipboard]="data">
            <mat-icon>content_copy</mat-icon>
        </button>
    </div>

    <div class="field-container">
        <mat-slide-toggle color="accent" class="enable-decryption field"
                [ngModel]="decryptionEnabled"
                (toggleChange)="onDecryptionToggle()">
            Расшифрование
        </mat-slide-toggle>
    </div>

    <div class="field-container">
        <mat-form-field appearance="outline" class="field">
            <mat-label>Секретная фраза</mat-label>
            <textarea matInput rows="3"
                [maxlength]="secretKeyMaxlength"
                [disabled]="!decryptionEnabled"
                [ngModel]="secretPhrase"
                (ngModelChange)="onSecretPhraseChange($event)">
            </textarea>
            <mat-hint align="end">{{secretPhrase.length}}/{{secretKeyMaxlength}}</mat-hint>
        </mat-form-field>
    </div>

    <div class="field-container">
        <mat-form-field appearance="outline" class="field">
            <mat-label>Шифр</mat-label>
            <textarea matInput rows="3"
                disabled
                [maxlength]="cipherTextMaxlength"
                [ngModel]="cipherText">
            </textarea>
            <mat-icon matSuffix *ngIf="decryptionEnabled">qr_code</mat-icon>
            <mat-hint align="end">{{cipherText.length}}/{{cipherTextMaxlength}}</mat-hint>
        </mat-form-field>
    </div>
</section>