:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-menu {
    .mat-toolbar-row {
        height: 40px;
        display: flex;
        justify-content: center;
    }
}

.body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
}