<header>
    <mat-toolbar color="primary" class="header-menu">
        <mat-toolbar-row>
            <mat-icon>qr_code</mat-icon>
        </mat-toolbar-row>

        <mat-toolbar-row>
            <button mat-button routerLink="scan" routerLinkActive="mat-accent">
                <mat-icon>book</mat-icon> Сканировать
            </button>
            <button mat-button routerLink="generate" routerLinkActive="mat-accent">
                <mat-icon>book</mat-icon> Сгенерировать
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</header>

<section class="body">
    <router-outlet></router-outlet>
</section>
