@use 'src/styles/component-mixins.scss' as component-mixins;

:host {
    @include component-mixins.card-component();
}

.header {
    display: flex;
    align-items: center;
    justify-content: end;
}

.fields {
    .field-container {
        display: flex;

        .field {
            flex-grow: 1;
        }

        .enable-encryption {
            margin-bottom: 5px;
        }
    }
}

.qrcode-container {
    $side: 280px;

    width: $side;
    height: $side;
}
