@use '@angular/material' as mat;
@use 'src/styles/custom-theme.scss' as custom-theme;
@use 'src/styles/controls/_snackbar.scss' as snackbar;
@use 'src/styles/controls/_button.scss' as button;

@include mat.core();
@include mat.all-component-themes(custom-theme.$custom-theme);

@include snackbar.theme(custom-theme.$custom-theme);

html, body { height: 100%; }
body {
    background: rgb(240,237,255);
    background: linear-gradient(90deg, rgba(240,237,255,1) 0%, rgba(137,135,188,1) 50%, rgba(240,237,255,1) 100%);

    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
