@use '@angular/material' as mat;
@use 'src/styles/custom-theme.scss' as custom-theme;
@use 'src/styles/controls/_snackbar.scss' as snackbar;

@include mat.core();
@include mat.all-component-themes(custom-theme.$custom-theme);

@include snackbar.theme(custom-theme.$custom-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-button-base.align-center {
    .mat-button-wrapper {
        display: flex;
        align-items: center;
        gap: 3px;
    }
}