@use '@angular/material' as mat;
@use 'src/styles/custom-theme.scss' as custom-theme;
@use 'src/styles/controls/_snackbar.scss' as snackbar;
@use 'src/styles/controls/_button.scss' as button;

@include mat.core();
@include mat.all-component-themes(custom-theme.$custom-theme);

@include snackbar.theme(custom-theme.$custom-theme);

html, body { height: 100%; }
body {
    background-image: url('./assets/background.jpg');
    background-size: cover;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
